<ion-view view-title="Manage">
<!--
<div class="float-button">
  <span class="height-fix">
    <a ui-sref="add-trip" class="content">
      <i class="ion-plus-round"> </i>
    </a>
  </span>
</div>
-->
  <ion-content>



  <div class="button-bar">
    <a class="button" ng-click="showSelect()">Select</a>
      <a class="button" ng-click="showPublisher()">Add</a>

  <a class="button" ng-click="showEditor()">Edit</a>




</div>

   <div class="list">

 <form name="bananaform">
   <div class="item item-divider">
    <p>UNDER STORY : {{choices.selected.choice_text}}</p>
  </div>
<div class="banana" ng-show=showSelectEnabled> <h4> Search </h4>
<ui-select  ng-change=submit() ng-model="choices.selected">
    <ui-select-match placeholder="   Enter choice text...">{{$select.selected.choice_text}}</ui-select-match>
    <ui-select-choices repeat="choice in choices.all | filter: $select.search track by choice.choice_id">
        <b>Choice Text</b>
        <div ng-bind-html="choice.choice_text | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>  </div>









        <label class="item item-input item-select" ng-show=showSelectEnabled>
    <div class="input-label">
      Under Choice
    </div>
      <select ng-model="choices.selected" ng-options="choice.choice_text for choice in choices.all" ng-change=submit()>
        <option value="" ng-if="false"></option></select>

  </label>
  <div class="item item-text-wrap" ng-show=showSelectEnabled >
  <!--list
   <p ng-repeat="have_parent in have_parents"> 
    <a ng-click="grandParentsSelected(have_parent.choice_text)" > <u>{{have_parent.choice_text}} </u> </a>
    </p><br> -->

        <button class="button button-clear button-positive" ng-repeat="have_parent in have_parents"  ng-click="grandParentsSelected(have_parent.choice_text)">
○ {{have_parent.choice_text}}</button>

    <!--<p>{{story}} </p> -->

<div class="banana" ng-bind-html="storyHTMLRender | html"></div> 

   

    <div ng-show="num_of_choices"><br>

    <!--list
    <p ng-repeat="have_choice in have_choices"> 
    <a ng-click="subchoiceSelected(have_choice.choice_text)" > <u>{{have_choice.choice_text}} </u> </a>
    </p>-->
    </div>


    <button class="button button-clear button-positive" ng-repeat="have_choice in have_choices"  ng-click="subchoiceSelected(have_choice.choice_text)">
○ {{have_choice.choice_text}}</button>




    </div>


 
    <!--editor begin -->

   <div class="item item-divider" ng-show=showEditorEnabled>
    Edit Choice
  </div>

  <label class="item item-input" ng-show=showEditorEnabled>
    <textarea  ng-model="choices.selected.choice_text"  placeholder="Choice"></textarea>
  </label>

     <div class="item item-divider" ng-show=showEditorEnabled>
    Edit Story
  </div>


   <label class="item item-input" ng-show=showEditorEnabled>
    <textarea ng-model="$parent.story" placeholder="Story"></textarea>
  </label>

  <!--editor end -->

  <!--publisher begin -->
<div ng-show=showPublisherEnabled>
  <ion-toggle ng-model="addNewChoice" toggle-class="toggle-positive" ng-change="showExistingEnabled=!showExistingEnabled"> Redirect Choice</ion-toggle>
   <label class="item item-input" ng-show=showExistingEnabled>
    <input type="text" ng-model="$parent.add_redirect_choice" placeholder="Add Redirect Choice Text">
  </label>



       <label class="item item-input item-select" ng-show=showExistingEnabled>
    <div class="input-label">
      Redirect to Existing Choice
    </div>
      <select ng-model="choices.existing" ng-options="choice.choice_text for choice in choices.all" ng-change=submit()>
        <option value="">Select a choice</option></select>

  </label>

   <button class="button button-block button-positive"  ng-show=showExistingEnabled ng-click="addRedirect()">
  Add Redirect
</button>

</div>


 
   <label class="item item-input" ng-show=showPublisherEnabled>
    <input type="text" ng-model="$parent.add_choice" placeholder="Add Choice">
  </label>




  <label class="item item-input" ng-show=showPublisherEnabled>
    <textarea ng-model="$parent.add_story" placeholder="Story"></textarea>
  </label>
    <!--publisher end -->




  <button class="button button-block button-positive"  ng-show=showEditorEnabled ng-click=editStory()>
  Edit Changes
</button>


  <button class="button button-block button-positive"  ng-show=showPublisherEnabled ng-click=postStory()>
  Add Story
</button>
<div ng-show=showEditorEnabled>
 <button class="button button-block button-positive" ng-hide=num_of_choices ng-click="showDeleter()"> 
  Delete Story
</button>
</div>

<button class="button button-block button-positive" ng-show=showDeleterEnabled ng-click=deleteStory() >
  Confirm Deletion
</button>

<!--redirector begins -->
   <label class="item item-input item-select" ng-show=showEditorEnabled >
    <div class="input-label">
     <button class="button button-clear button-positive" ng-click="deleteRedirect()" >
Delete    </div>
      <select ng-model="redirects.selected" ng-options="redirect.choice_text for redirect in redirects">
          <option value="">select redirect</option></select>

  </label>

  <!--redirector ends-->
       


  </form>


      




  </ion-content>
</ion-view>

