<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->



  <!-- Chats Tab -->
<ion-tabs class="tabs-icon-center tabs-color-active-positive tabs-striped ">



  <!-- Chats Tab -->
  <ion-tab title="Story" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/story">
    <ion-nav-view name="tab-story"></ion-nav-view>
  </ion-tab>



</ion-tabs>
